.row
  .large-12.job_heading
    %h2 Welcome to Akio.
    %p{ :style => 'line-height: 2; padding: 25px 0;' } Akio is a nice little app that helps you easily store job information in one central, non-stressful location. Get started using the icons to the left or drag this <a href="javascript:(function(){location.href='http://localhost:3000/jobs/x?url='+encodeURIComponent(location.href)})();">add job</a> link to your toolbar.
    %p Akio currently works with 37signals, Indeed.com, Idealist.org, and AuthenticJobs.