.row.full_width
  .small-6.large-4.columns.no_pad
    .job_wrap
      .job_nav
        %ul
          %li
            %a{ :href => order_list_jobs_path, 'data-remote' => true, 'data-method' => 'post' }
              %i{ :class => 'foundicon-folder' }
          %li
            %a{ :href => new_job_path, 'data-remote' => true, :id => 'new_job_button', 'data-reveal-id' => 'modal' }
              %i{ :class => 'foundicon-plus'}
          %li
            %a{ :href => query_jobs_path, 'data-remote' => true, 'data-reveal-id' => 'modal' }
              %i{ :class => 'foundicon-add-doc'}
      .job_list
        = render :partial => 'jobs/index'
  .small-6.large-8.columns.main_section
    .dropdown{ :id => "modal", :class => 'hide' }
    .main_view
      - if @jobs.present?
        = render :partial => 'jobs/show'
      - else
        = render :partial => 'jobs/info'


